<div class='d-flex my-3'>
  <div class='w-100'>
    <h4>Total Products: <%= @pagy.count%></h4>
  </div>
  <div class='w-50'>
    <%= link_to '<i class="bi bi-plus-lg"></i> Add Product'.html_safe, new_product_path, class: 'btn btn-success'%>
  </div>
</div>

<%= render partial: 'shared/product/product', collection: @products%>

<div class='d-flex justify-content-center mt-2'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
