<%= render partial: 'shared/page_header', locals: {title: 'Edit Employee'}%>

<div class= "p-5 new-product-form">
  <%= render partial: 'shared/employee/employee_form', locals: {action: 'update'}%>
</div>