<div class="card customer">
  <%= image_tag employee.employee_detail.avatar_url, class: "card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= employee.employee_detail.full_name%></h5>
  </div>
  <div class='card-footer'>
    <%= link_to '<i class="bi bi-ticket-detailed"></i> Show'.html_safe, employee_path(employee), class: 'btn m-1 btn-info'%>
  </div>
</div>