<div class="d-flex flex-column flex-shrink-0 p-3 bg-light side-bar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <i class="bi bi-shop-window logo"></i>
      <strong class="fs-4">Welcome</strong>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to '<i class="bi bi-house-door icon-style"></i>Home'.html_safe, root_path, class: "nav-link link-dark #{'active' if controller.controller_name == 'home'}" %>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi bi-speedometer2 icon-style"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi bi-cart4 icon-style"></i>
          Sale
        </a>
      </li>
      <li>
        <%= link_to '<i class="bi bi-grid icon-style"></i>Products'.html_safe, products_path, class: "nav-link link-dark #{'active' if controller.controller_name == 'products'}" %>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi bi-people-fill icon-style"></i>
          Customers
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-dark">
          <i class="bi bi-graph-up-arrow icon-style"></i>
          Reports
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" style="color: #ff6a00" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle logo"></i>
        <strong>Admin</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>