<%= render partial: 'shared/page_header', locals: {title: 'Edit Customer'}%>

<div class= "p-5 new-product-form">
  <%= render partial: 'shared/customer/customer_form', locals: {action: 'update'}%>
</div>