<%= render partial: 'shared/page_header', locals: {title: 'New Customer'}%>

<div class= "p-5 new-product-form">
  <%= render partial: 'shared/customer/customer_form', locals: {action: 'create'}%>
</div>