<%= form_for(@category, url: {action: action }) do |f| %>
  <div class='d-flex'>
    <div class='w-100 mb-3 left-margin'>
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'General Store e.g.', class: 'form-control', required: true, autofocus: true %>
    </div>
  </div>
  <div class='d-flex'>
    <div class='w-100 text-center'>
      <%= f.submit "#{form_submit_btn_text(action)} Category", class: 'btn btn-success'%>
    </div>
  </div>
<% end %>