<div class="card category border-success text-center">
  <div class="card-body">
    <h5 class="card-title"><%= category.name.camelize%></h5>
    <p class="card-text"><span class='text-danger'>Total Products: </span><%= category.products.count%></p>
  </div>
  <div class='card-footer'>
    <%= link_to '<i class="bi bi-pencil-square"></i> Edit'.html_safe, edit_category_path(category), remote: true, class: 'btn m-1 btn-info'%>
    <%= link_to '<i class="bi bi-trash3"></i> Delete'.html_safe, category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn m-1 btn-danger'%>
  </div>
</div>