<div class='receipt-header'>
  <div><strong>Qty: </strong><span class="badge badge-secondary">1</span></div>
  <div><strong>Items: </strong><span class="badge badge-secondary">10</span></div>
  <div><strong>Discount: </strong><span class="badge badge-secondary">20</span></div>
  <div><strong>Total: </strong><span class="badge badge-secondary">998</span></div>
</div>
<div class='receipt-details'>
</div>