<div class="card customer">
  <%= image_tag customer.customer_detail.avatar_url, class: "card-img-top"%>
  <div class="card-body">
    <h5 class="card-title"><%= customer.customer_detail.full_name%></h5>
  </div>
  <div class='card-footer'>
    <%= link_to '<i class="bi bi-ticket-detailed"></i> Show'.html_safe, customer_path(customer), class: 'btn m-1 btn-info'%>
  </div>
</div>