<div class='d-flex my-3'>
  <div class='w-100'>
    <h4>Total Customers: <%= @pagy.count%></h4>
  </div>
  <div class='w-50'>
    <%= link_to '<i class="bi bi-plus-lg"></i> Add Customer'.html_safe, new_customer_path, class: 'btn btn-success'%>
  </div>
</div>

<div class='customer-cards'>
  <%= render partial: 'shared/customer/customer', collection: @customers%>
</div>

<div class='d-flex justify-content-center mt-2'>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>