@import "pos_variables";

.side-bar {
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;

  .active {
    color: $primary-dark-color !important;
    border-left: 5px solid $primary-dark-color !important;
    background-color: $secondary-dark-color !important;
  }
}

.icon-style {
  font-size: 1rem;
  margin: 1rem 0.5rem 1rem 0;
}

.logo {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 0;
  color: $primary-dark-color;
}

.logo + strong {
  color: $primary-dark-color;
}

.side-bar li a:hover {
  background-color: $primary-light-color;
}

.page-header {
  background-color: $primary-light-color;
  width: 100%;
  padding: 15px;

  a {
    padding-left: 0.5vw; 
    padding-right: 1.5vw;
    color: black;
    -webkit-text-stroke-width: medium;
  }
}

.left-margin {
  margin-left: 1vw;
}

.new-product-form {
  input:focus {
    box-shadow: none;
  }
  .product-category-select {
    select {
      display: block;
      width: 100%;
      padding: 0.375rem 2.25rem 0.375rem 0.75rem;
      -moz-padding-start: calc(0.75rem - 3px);
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
      border: 1px solid #ced4da;
      border-radius: 0.25rem 0 0 0.25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .new-category {
      text-decoration: none;
      -webkit-text-stroke-width: thick;
      color: black;
      background: darkgray;
      padding: 5px 10px;
      border-radius: 0 5px 5px 0;
    }

    select:focus {
      outline: none;
      border-color: #86b7fe;
    }
  }
}

.product-body {
  border-bottom: 0.5px solid rgb(156, 151, 151);
  margin: 0 5px 0 5px;
}

.product-body > div {
  padding: 10px;
}

.product-expand {
  margin: 0 5px 0 5px;
}

.product-body:hover {
  background-color: $primary-light-color;
}

#cros-expand > i:hover {
  background-color: rgb(189, 184, 184);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
}

.product-img {
  border-radius: 2px;
  width: 5vw;
  height: 5vh;
}
