@import "pos_variables";
.search-form {
  display: inline-flex;
  width: 100% !important;
  .search-input {
    border: 1px solid $primary-dark-color;
    padding: 1vh 3vw;
    width: 100%;
  }
  .search-input:focus {
    outline: none;
  }

  i {
    margin-right: 7px;
  }
}

.products-listing {
  padding: 0 30px;
}