.side-bar {
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}

.icon-style {
  font-size: 1rem;
  margin: 1rem 0.5rem 1rem 0;
}

.logo {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 0;
  color: #ff6a00;
}

.logo + strong {
  color: #ff6a00;
}

.side-bar li a:hover {
  background-color: rgb(93, 94, 95);
  color: white;
}

.page-header {
  background-color: #ff6a00c9;
  width: 100%;
  color: white;
  padding: 15px;
}

.page-header > a {
  padding-left: 0.5vw; 
  padding-right: 1.5vw;
  color: white;
}

.left-margin {
  margin-left: 1vw;
}

.product-body {
  border-bottom: 0.5px solid rgb(156, 151, 151);
  margin: 0 5px 0 5px;
}

.product-body > div {
  padding: 10px;
}

.product-expand {
  margin: 0 5px 0 5px;
}

.product-body:hover {
  background-color: rgb(224, 220, 220);
}

#cros-expand > i:hover {
  background-color: rgb(145, 141, 141);
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 50%;
}

.product-img {
  border-radius: 2px;
  width: 5vw;
  height: 5vh;
}
