<%= render partial: 'shared/page_header', locals: {title: 'Categories'}%>

<div class='d-flex justify-content-end mx-3 mt-3'>
  <%= link_to '<i class="bi bi-plus-lg"></i> Add Category'.html_safe, new_category_path, remote: true, class: 'btn btn-success'%>
</div>

<div class='categories-list'>
  <%= render partial: 'shared/category/category', collection: @categories%>
</div>

<div id="new-category-modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>