<%= render partial: 'shared/page_header', locals: {title: 'Add Category'}%>

<div class= "p-5 new-product-form">
  <%= render partial: 'shared/category/category_form', locals: {action: 'create'}%>
</div>