<div class='item btn'>
  <div class='text-center text-danger'><i class="bi bi-bar-chart-line-fill"></i></div>
  <div>0</div>
  <div>Yestarday's Sale</div>
</div>

<div class='item btn'>
  <div class='text-center text-danger'><i class="bi bi-receipt"></i></div>
  <div>0</div>
  <div>Receipt Count</div>
</div>

<div class='item btn'>
  <div class='text-center text-info'><i class="bi bi-bar-chart-line-fill"></i></div>
  <div>0</div>
  <div>Today's Sale</div>
</div>

<div class='item btn'>
  <div class='text-center text-info'><i class="bi bi-receipt"></i></div>
  <div>0</div>
  <div>Receipt Count</div>
</div>

<div class='item btn'>
  <div class='text-center text-success'><i class="bi bi-calculator"></i></div>
  <div><%= @products_count%></div>
  <div>Products Count</div>
</div>