<%= render partial: 'shared/page_header', locals: {title: 'Products'}%>

<div class= 'm-4'>
  <%= form_with url: search_products_path,local: false,  method: :post do |form|%>
    <div class = 'search-form'>
      <%= form.search_field :search, placeholder: 'Search by Code, Name, Description', class: 'search-input', oninput: "this.form.requestSubmit()" %>
    </div>
  <% end %>
</div>

<div id="products-listing" class='products-listing'>
  <%= render partial: 'shared/product/products_listing' %>
</div>

