<%= render partial: 'shared/page_header', locals: {title: 'Products'}%>

<div class='d-flex mt-3'>
  <div class='w-100'>
    <h4>Total Products: <%= @products.count%></h4>
  </div>
  <div class='w-50'>
    <%= link_to 'Add Product', new_product_path, class: 'btn btn-success'%>
  </div>
</div>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>CODE</th>
      <th scope='col'>NAME</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/product', collection: @products%>
  </tbody>
</table>
